.hoverOpacity {
  opacity: 0.7;
  cursor: pointer;
  transition: opacity 0.5s ease;
}

.hoverLine {
  text-decoration: underline;
}
.hoverRed {
  height: 100%;
  width: 100%;
  background-color: $pico-8-pink;
  opacity: 0.5;
  position: absolute;
  top: 0;
  transition: all 0.5s ease;
}
.hoverWhite {
  background-color: rgba(255, 255, 255, 1) !important;
  transition: all 0.5s ease;
}

.hoverFont {
  color: $framboise;
  transition: all 0.5s ease;
}
