// サイズ
.vc-container {
  margin: 0 auto;
  width: 1200px;
}
.vc-container {
  --header-padding: none;
  --weeks-padding: none;
}
//月表示をなくす
.vc-arrows-container {
  display: none;
}
.vc-title-layout {
  display: none !important;
}

// カレンダーの枠線
.vc-day {
  border: 1px solid rgba(0, 0, 0, 0.12);
}
// 曜日の背景
.vc-grid-cell-row--7 {
  height: 40px;
  background-color: $snowbank;
}
// 曜日の文字色
.vc-text-gray-500 {
  color: $black;
  font-size: 17px;
  font-weight: normal;
}
// 日付の色
.vc-text-sm {
  color: $black;
  font-size: 18px;
  padding: 5px 8px;
}
// イベントcss
.cell-content-line {
  color: $white;
  display: block;
  border-radius: 5px;
  transition: opacity 300ms ease;
  margin: 5px 5px;
  font-size: 13px;
  font-weight: bold;
  cursor: pointer;
  &.-live {
    background: $framboise;
  }
  &.-ticket {
    background-color: $the-oregon-blue;
  }
}
