.header-nav {
  flex-basis: 80%;
  font-size: 16px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  &.-small {
    font-size: 10px;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
  }
}

.header-nav > .link {
  cursor: pointer;
  color: $dover-grey;
  margin: 0 2%;
}

.header-nav > .select {
  &:nth-child(1) {
    color: $red;
  }
  &:nth-child(2) {
    color: $blue;
  }
  &:nth-child(3) {
    color: $pink;
  }
  &:nth-child(4) {
    color: $yellow;
  }
  &:nth-child(5) {
    color: $purple;
  }
  &:nth-child(6) {
    color: $green;
  }
  &:nth-child(7) {
    color: $red;
  }
}

.header-nav > .sns {
  width: 40px;
  height: 40px;
  margin: 0 10px;
}
