.contents-container {
  padding: 5%;
  &.-pa1_5 {
    padding: 1% 10%;
  }
  &.-back {
    background-image: url("../images/main-back.png");
    background-size: 100%;
    background-position: bottom;
    background-repeat: no-repeat;
  }
}

.contents-container > .title {
  font-size: 19px;
  font-weight: bold;
  display: flex;
  justify-items: start;
  justify-content: center;
  letter-spacing: 0.1em;
  margin-bottom: 10px;
  &::before {
    content: "";
    display: inline-block;
    background-image: url("../images/guitar.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 28px;
    height: 28px;
    margin-right: 7px;
  }
}

.contents-container > .translation {
  text-align: center;
  font-size: 10px;
  color: $wild-dove;
  &::before {
    content: "";
    display: inline-block;
    border-top: solid currentColor;
    border-width: thin;
    height: 5px;
    width: 13px;
    margin: 0px 10px;
  }
  &::after {
    content: "";
    display: inline-block;
    border-top: solid currentColor;
    border-width: thin;
    height: 5px;
    width: 13px;
    margin: 0px 10px;
  }
}

.contents-container > .lists {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.contents-container > .btn {
  height: 50px;
  width: 250px;
  background-color: $framboise;
  margin: 50px auto;
  text-align: center;
  line-height: 50px;
  color: $white;
}

.contents-container > .month {
  font-size: 26px;
  color: #7b7b7b;
  margin-top: 50px;
}
