.footer-container {
  height: 580px;
  width: 100%;
  background-image: url("../images/roselia.png");
  background-size: contain;
  background-repeat: no-repeat;
  color: $white;
}

.footer-container > .black {
  background-color: rgba(0, 0, 0, 0.6);
  height: 100%;
}
.footer-container > .black > .title {
  display: flex;
  justify-content: center;
  font-family: "Cabin", sans-serif;
  letter-spacing: 0.1em;
  font-size: 32px;
  color: #fff;
  line-height: 0.8;
  margin-bottom: 32px;
  padding-top: 60px;
}

.footer-container > .black > .title > .icon {
  height: 22px;
  margin: 0 15px;
}

.footer-container > .black > .share {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  align-items: center;
}
.footer-container > .black > .share > .title {
  font-size: 18px;
  line-height: 30px;
  margin-right: 15px;
}
.footer-container > .black > .share > .circle {
  height: 34px;
  margin: 0 15px;
  letter-spacing: 0.2em;
  cursor: pointer;
}

.footer-container > .black > .logo {
  margin: 50px auto;
  height: 50px;
  cursor: pointer;
}
