.news-container {
  padding: 3%;
}

.news-container > .title {
  font-size: 19px;
  font-weight: bold;
  display: flex;
  justify-items: start;
  justify-content: center;
  letter-spacing: 0.1em;
  margin-bottom: 10px;
  &::before {
    content: "";
    display: inline-block;
    background-image: url("../images/guitar.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 28px;
    height: 28px;
    margin-right: 7px;
  }
}

.news-container > .translation {
  text-align: center;
  font-size: 10px;
  color: $wild-dove;
  &::before {
    content: "";
    display: inline-block;
    border-top: solid currentColor;
    border-width: thin;
    height: 5px;
    width: 13px;
    margin: 0px 10px;
  }
  &::after {
    content: "";
    display: inline-block;
    border-top: solid currentColor;
    border-width: thin;
    height: 5px;
    width: 13px;
    margin: 0px 10px;
  }
}

.news-container > .lists {
  display: flex;
}
