// サイズ
.vc-container {
  margin: 0 auto;
  width: 1200px;
}
// 曜日のデザイン
.vc-grid-cell-row--7 {
  height: 40px;
  background-color: #e9e9e9;
  font-size: 17px;
  color: black;
}

.vc-text-gray-500 {
  color: none !important;
}
