$red: #ff0000;
$blue: #0000ff;
$pink: #f5b2b2;
$pico-8-pink: #e40049;
$yellow: #ffdc00;
$purple: #9b72b0;
$green: #3eb370;
$dover-grey: #858585;
$wild-dove: #8b8b8b;
$orochimaru: #d9d9d9;
$framboise: #e5004f;
$white: #ffffff;
$snowbank: #e9e9e9;
$leadbelcher: #cacaca;
$black: #000000;
